.menu {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.menuTitle {
  font-size: 5rem;
}

.menuList {
  align-items: center;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  margin-bottom: 15vh;
}

/* MENU ITEM STYLING */

.menuItem {
  border-radius: 15px;
  width: 25vw;
  height: 25vh;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.menuItem:hover{
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.5));
  transition: 0.3s ease-in;
  cursor: pointer;

}



.menuItem img:hover{

}

.menuItem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menuList a {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 800px) {

  .menuTitle {
    font-size: 3rem;
  }

  .menuList {
    grid-template-columns: 1fr;
  }
  .menuItem{
    width: 50vw;
    height: 20vh;
  }
}
