.errorWrap {
  width: 420px;
  background: transparent;
  border: 2px solid rgb(253, 7, 7);
  box-shadow: 0 0 20px rgb(255, 2, 2);
  color: rgb(252, 4, 4);
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0 0 25px;
  text-align: center;
}
