.window {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.guessingWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
}

.guessingWindow input {
  width: 90%;
  outline: auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 5px 5px 5px 5px;
  min-width: 127px;
  max-width:200px;
}

.guessing-button {
  color:black;
  padding: 0px;
  width: 90%;
}

.mapWindow {
  margin: 0;
  width: 80vw;
}

.map-container{
  width: 100%;
  height: calc(100vh - 70px);
}

.color1 {
  background: linear-gradient(to right, #83a4d4, #66fbff);
  color:black;
}

.color2 {
  background: linear-gradient(to right, #d4839d, #d61717);
  color:black;
}

.streak-button{
  margin-top: 10px;
  padding: 0;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  height: 40px;
  width: 90%;
  font-size: 20px;
  box-shadow: -5px 20px 10px 0 rgba(0, 0, 0, 0.25);
  min-width:100px;
  max-width:175px;
}


@media (max-width: 768px) {

  .streak-button{
    font-size: 16px;
  }

  .map-container{
    height: 70vh;
    width:100%;
  }

  .window {
    flex-direction: column;
  }
  .guessingWindow {
    width: 80vw;
    height: calc(30vh - 70px);
  }
  .guessingWindow h1, p {
    margin: 5px;
  }
  .guessingWindow input{
    min-width: 127px;
    max-width: 200px;
  }
  .guessingWindow button{
    width:20vw;
    min-width:100px;
    max-width:175px;
  }
  .mapWindow {
    width: 100vw;
    height: 70vh;
  }
  .streak-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .streak-buttons button {
    width: 45vw;
  }
  .location-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 10px;
  }
  .location-info p {
    margin: 0;
  }
}