.window {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.guessingWindow {
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
}

.guessingWindow input {
  width: 90%;
  outline: auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 5px 5px 5px 5px;
  min-width: 127px;
  max-width:200px;
}
.mapWindow {
  margin: 0;
  width: 80vw;
}