.window {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.guessingWindow {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
}

.guessingWindow h1 {
  font-size: clamp(20px,4vw,24px);

  margin:0;
}
.guessingWindow button {
  margin-top: 10px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  height: 40px;
  width: 90%;
  font-size: 20px;
  box-shadow: -5px 20px 10px 0px rgba(0, 0, 0, 0.25);
  
  min-width:100px;
  max-width:175px;
}

.color1 {
  background: linear-gradient(to right, #83a4d4, #66fbff);
}

.color2 {
  background: linear-gradient(to right, #d4839d, #d61717);
}

.mapWindow {
  position: relative;
  margin: 0;
  width: 80vw;
}

/* HTML: <div class="loader"></div> */

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Static centering */
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: rotateLoader 1s infinite; /* Use a custom animation for rotation */
}

@keyframes rotateLoader {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); /* Maintain centering */
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); /* Rotate around center */
  }
}

.map-container{
  height: 94vh;
  width:100%;
}

@media (max-width: 768px) {

  .map-container{
    height: 70vh;
    width:100%;
  }

  .window {
    flex-direction: column;
  }
  .guessingWindow {
    width: 80vw;
    margin-bottom:5px;
  }
  .guessingWindow input{
    min-width: 127px;
    max-width: 200px;
  }
  .guessingWindow button{
    width:20vw;
    min-width:100px;
    max-width:175px;
  }
  .mapWindow {
    width: 80vw;
  }
}