.window {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.guessingWindow {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
}

.guessingWindow h1 {
  font-size: clamp(20px,4vw,24px);

  margin:0;
}




.resultText{
  display:block;
}

.mapWindow {
  position: relative;
  margin: 0;
  width: 80vw;
}

/* HTML: <div class="loader"></div> */

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Static centering */
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: rotateLoader 1s infinite; /* Use a custom animation for rotation */
}

@keyframes rotateLoader {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); /* Maintain centering */
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); /* Rotate around center */
  }
}

.map-container{
  width:100%;
}

.guessingWindow .streak-container {
  display: block;
}

@media (max-width: 768px) {
  .guessingWindow .streak-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
.resultText{
  display:inline;
}

  .map-container{
    height: 70vh;
    width:100%;
  }

  .window {
    flex-direction: column;
  }
  .guessingWindow {
    width: 80vw;
    height: calc(30vh - 70px);
  }
  .guessingWindow h1, p {
    margin: 5px;
  }
  .guessingWindow input{
    min-width: 127px;
    max-width: 200px;
  }
  .guessingWindow button{
    width:20vw;
    min-width:100px;
    max-width:175px;
  }
  .mapWindow {
    width: 100vw;
  }
  .streak-buttons button {
    width: 45vw;
  }
}